:root {
    --main-color:#d9c7a8;
    --cor:#ffffff;
}

body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-top: 0;
    background-color: var(--cor);
}

header .logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    margin: 0% 5% 5% 1%;
}

header {
    padding: 0;
    color: #000000;
    text-align: center;
}

.meio h2 {
    border: 1px solid;
    padding: 20px ;
    box-shadow: 5px 10px;
}

main {
    padding: 0;
    margin: 0;
    margin: 2px 2px 2px 2px; 
}

.doces h2 {
    border: 1px solid;
    padding: 20px;
}

.pagina, h2 {
    font-family: Delius;
    color: var(--main-color);
    text-align: center;
}

.navbar a {
    text-align: center;
    text-decoration: overline;
}

nav a:hover {
    color:#000000;
}

.converse {
    text-align: center;

}

.converse img {
   margin: 1rem;
   cursor: pointer;
}

.converse img:hover {
    width: 40px;
    height: 40px;
}

.video1 {
    text-align: center;
}

.video2 {
    text-align: center;
}

footer {
    text-align: center;
}

li, p {
    font-family: Pacifico;
    font-size: large;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coiso, p {
    text-align: center;
}

.coisa, p {
    text-align: center;
}
